In [15]:
import numpy as np
import pandas as pd
from statsmodels.datasets import grunfeld

In [96]:
df_test = pd.read_pickle('data/test.pkl')
df_test.columns = df_test.columns.droplevel(level=0)
df_test

                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2018-12-03 SH600000    0.165710 -0.536890  0.216804 -0.560995 -0.465018
           SH600008    0.171480 -0.492957  0.216800 -0.545895 -0.465016
           SH600009   -0.282892  0.226761 -0.230521  1.317883  0.975168
           SH600010    0.783283 -0.094838  0.758803  0.029959  0.000004
           SH600011    2.114516  1.554480  1.040646  1.540481  0.279008
...                         ...       ...       ...       ...       ...
2020-09-25 SZ300413    0.904611  0.075797  0.796533  0.674311  0.521550
           SZ300433   -0.958482  0.286111 -0.758798 -0.846933 -0.957375
           SZ300498   -0.743196 -0.505190 -0.948506 -0.216862 -0.000002
           SZ300601   -1.287670  2.360488 -0.510888  3.000000  0.896579
           SZ300628   -0.316698 -0.209702 -0.328988 -0.433256 -0.447656

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2018-12-03 SH600000    1.463788  2.308705  0.716539  0.933212 -0.165260  ...
           SH600008    1.552470  2.308716  0.741501  0.933211 -0.170994  ...
           SH600009    1.054937  0.691583 -0.407745 -0.330745  0.284213  ...
           SH600010    0.121623  0.106066  0.677401  0.653249 -0.773301  ...
           SH600011   -1.081524 -1.079974  0.990540  0.485277 -2.043333  ...
...                         ...       ...       ...       ...       ...  ...
2020-09-25 SZ300413   -0.525728 -0.581976  0.387044  0.339256 -0.891325  ...
           SZ300433    1.689805  1.152573 -0.097513 -0.076843  0.973857  ...
           SZ300498   -0.624898 -0.486957 -0.771268 -0.979855  0.752406  ...
           SZ300601    1.348346 -0.098962 -1.939902 -0.766157  1.315571  ...
           SZ300628    1.774474  1.939030  0.344570  0.356318  0.318355  ...

                        VSUMN10   VSUMN20   VSUMN30   VSUMN60    VSUMD5  \
datetime   instrument
2018-12-03 SH600000   -3.000000 -3.000000  0.190599 -0.383691  2.892849
           SH600008    2.156863 -0.105260 -0.037513 -0.766494 -0.891044
           SH600009   -1.438813  0.850300  0.258306 -0.883333  2.887834
           SH600010   -0.622036 -0.278566  0.131200 -0.669504  1.522675
           SH600011   -0.117814 -0.853466  0.871683 -0.558842  0.279279
...                         ...       ...       ...       ...       ...
2020-09-25 SZ300413    1.902129  2.807487  0.368912  0.777892  0.462059
           SZ300433    3.000000  1.516506  0.275959  1.510199 -1.363506
           SZ300498    0.497830  3.000000  0.138158  0.938714 -0.806903
           SZ300601    0.038803  0.225010  0.585177 -0.062209  0.249203
           SZ300628    0.528503  0.250647  0.532218  0.657884 -2.781974

                        VSUMD10   VSUMD20   VSUMD30   VSUMD60    LABEL0
datetime   instrument
2018-12-03 SH600000    3.000000  3.000000 -0.190600  0.383691 -0.007220
           SH600008   -2.156864  0.105261  0.037514  0.766494  0.013699
           SH600009    1.438813 -0.850301 -0.258307  0.883332 -0.008257
           SH600010    0.622036  0.278567 -0.131200  0.669503 -0.012658
           SH600011    0.117813  0.853468 -0.871684  0.558842  0.001377
...                         ...       ...       ...       ...       ...
2020-09-25 SZ300413   -1.902129 -2.807489 -0.368913 -0.777889       NaN
           SZ300433   -3.000000 -1.516507 -0.275958 -1.510195       NaN
           SZ300498   -0.497830 -3.000000 -0.138157 -0.938711       NaN
           SZ300601   -0.038804 -0.225010 -0.585176  0.062208       NaN
           SZ300628   -0.528503 -0.250647 -0.532218 -0.657881       NaN

[133200 rows x 159 columns]

In [97]:
df_test.reset_index(inplace=True)
df_test

,datetime,instrument,KMID,KLEN,KMID2,KUP,KUP2,KLOW,KLOW2,KSFT,...,VSUMN10,VSUMN20,VSUMN30,VSUMN60,VSUMD5,VSUMD10,VSUMD20,VSUMD30,VSUMD60,LABEL0
0,2018-12-03,SH600000,0.165710,-0.536890,0.216804,-0.560995,-0.465018,1.463788,2.308705,0.716539,...,-3.000000,-3.000000,0.190599,-0.383691,2.892849,3.000000,3.000000,-0.190600,0.383691,-0.007220
1,2018-12-03,SH600008,0.171480,-0.492957,0.216800,-0.545895,-0.465016,1.552470,2.308716,0.741501,...,2.156863,-0.105260,-0.037513,-0.766494,-0.891044,-2.156864,0.105261,0.037514,0.766494,0.013699
2,2018-12-03,SH600009,-0.282892,0.226761,-0.230521,1.317883,0.975168,1.054937,0.691583,-0.407745,...,-1.438813,0.850300,0.258306,-0.883333,2.887834,1.438813,-0.850301,-0.258307,0.883332,-0.008257
3,2018-12-03,SH600010,0.783283,-0.094838,0.758803,0.029959,0.000004,0.121623,0.106066,0.677401,...,-0.622036,-0.278566,0.131200,-0.669504,1.522675,0.622036,0.278567,-0.131200,0.669503,-0.012658
4,2018-12-03,SH600011,2.114516,1.554480,1.040646,1.540481,0.279008,-1.081524,-1.079974,0.990540,...,-0.117814,-0.853466,0.871683,-0.558842,0.279279,0.117813,0.853468,-0.871684,0.558842,0.001377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133195,2020-09-25,SZ300413,0.904611,0.075797,0.796533,0.674311,0.521550,-0.525728,-0.581976,0.387044,...,1.902129,2.807487,0.368912,0.777892,0.462059,-1.902129,-2.807489,-0.368913,-0.777889,NaN
133196,2020-09-25,SZ300433,-0.958482,0.286111,-0.758798,-0.846933,-0.957375,1.689805,1.152573,-0.097513,...,3.000000,1.516506,0.275959,1.510199,-1.363506,-3.000000,-1.516507,-0.275958,-1.510195,NaN
133197,2020-09-25,SZ300498,-0.743196,-0.505190,-0.948506,-0.216862,-0.000002,-0.624898,-0.486957,-0.771268,...,0.497830,3.000000,0.138158,0.938714,-0.806903,-0.497830,-3.000000,-0.138157,-0.938711,NaN
133198,2020-09-25,SZ300601,-1.287670,2.360488,-0.510888,3.000000,0.896579,1.348346,-0.098962,-1.939902,...,0.038803,0.225010,0.585177,-0.062209,0.249203,-0.038804,-0.225010,-0.585176,0.062208,NaN
133199,2020-09-25,SZ300628,-0.316698,-0.209702,-0.328988,-0.433256,-0.447656,1.774474,1.939030,0.344570,...,0.528503,0.250647,0.532218,0.657884,-2.781974,-0.528503,-0.250647,-0.532218,-0.657881,NaN

In [98]:
df_test_sorted = df_test.sort_values(by=['instrument', 'datetime'])
df_test_sorted

,datetime,instrument,KMID,KLEN,KMID2,KUP,KUP2,KLOW,KLOW2,KSFT,...,VSUMN10,VSUMN20,VSUMN30,VSUMN60,VSUMD5,VSUMD10,VSUMD20,VSUMD30,VSUMD60,LABEL0
0,2018-12-03,SH600000,0.165710,-0.536890,0.216804,-0.560995,-0.465018,1.463788,2.308705,0.716539,...,-3.000000,-3.000000,0.190599,-0.383691,2.892849,3.000000,3.000000,-0.190600,0.383691,-0.007220
300,2018-12-04,SH600000,0.441487,-1.137987,1.103716,-0.994416,-1.085038,-0.572926,0.213877,0.524985,...,0.038669,-0.349368,1.032437,-0.422000,0.379105,-0.038669,0.349368,-1.032438,0.421999,-0.009091
600,2018-12-05,SH600000,0.055234,-0.957238,0.108397,0.450336,2.015095,-0.572464,-0.063375,-0.286612,...,-0.957246,-0.600680,2.265202,-0.550246,0.448487,0.957246,0.600681,-2.265202,0.550246,-0.000917
900,2018-12-06,SH600000,0.448827,-1.127004,1.103700,-0.554166,0.098679,-1.081524,-1.079974,0.242595,...,-0.971128,-0.476709,0.947648,-0.143062,0.216914,0.971127,0.476710,-0.947648,0.143063,-0.005510
1200,2018-12-07,SH600000,-0.277437,-0.893073,-0.505862,0.311799,1.519069,-0.911054,-0.763684,-0.623823,...,0.263317,1.496304,1.206061,-0.101527,-0.851252,-0.263317,-1.496305,-1.206061,0.101529,-0.010157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131999,2020-09-21,SZ300628,-0.402014,-0.126209,-0.396758,-0.100632,-0.120557,1.357640,1.369630,0.043467,...,1.637854,0.470455,0.126913,0.510860,-0.222366,-1.637854,-0.470455,-0.126913,-0.510858,0.002809
132299,2020-09-22,SZ300628,0.967927,-0.058897,0.918297,-0.008385,-0.062197,-0.299018,-0.324536,0.731348,...,1.126915,0.056230,0.335378,0.495849,-0.000869,-1.126915,-0.056230,-0.335379,-0.495847,-0.033773
132599,2020-09-23,SZ300628,0.100179,-0.414878,0.119505,1.416059,2.059008,-0.312200,-0.146098,-0.493782,...,0.827862,0.265149,0.391522,0.786306,-0.013409,-0.827862,-0.265148,-0.391521,-0.786302,0.007843
132899,2020-09-24,SZ300628,-1.375729,0.346538,-1.058429,0.434346,0.116855,-0.926133,-0.958320,-1.618407,...,0.533326,-0.087056,0.308029,0.883878,-1.229053,-0.533326,0.087056,-0.308028,-0.883876,NaN
133199,2020-09-25,SZ300628,-0.316698,-0.209702,-0.328988,-0.433256,-0.447656,1.774474,1.939030,0.344570,...,0.528503,0.250647,0.532218,0.657884,-2.781974,-0.528503,-0.250647,-0.532218,-0.657881,NaN

In [99]:
df_test_sorted.dropna(inplace = True)
df_test_sorted.reset_index(drop = True, inplace = True)

df_test_sorted

,datetime,instrument,KMID,KLEN,KMID2,KUP,KUP2,KLOW,KLOW2,KSFT,...,VSUMN10,VSUMN20,VSUMN30,VSUMN60,VSUMD5,VSUMD10,VSUMD20,VSUMD30,VSUMD60,LABEL0
0,2018-12-03,SH600000,0.165710,-0.536890,0.216804,-0.560995,-0.465018,1.463788,2.308705,0.716539,...,-3.000000,-3.000000,0.190599,-0.383691,2.892849,3.000000,3.000000,-0.190600,0.383691,-0.007220
1,2018-12-04,SH600000,0.441487,-1.137987,1.103716,-0.994416,-1.085038,-0.572926,0.213877,0.524985,...,0.038669,-0.349368,1.032437,-0.422000,0.379105,-0.038669,0.349368,-1.032438,0.421999,-0.009091
2,2018-12-05,SH600000,0.055234,-0.957238,0.108397,0.450336,2.015095,-0.572464,-0.063375,-0.286612,...,-0.957246,-0.600680,2.265202,-0.550246,0.448487,0.957246,0.600681,-2.265202,0.550246,-0.000917
3,2018-12-06,SH600000,0.448827,-1.127004,1.103700,-0.554166,0.098679,-1.081524,-1.079974,0.242595,...,-0.971128,-0.476709,0.947648,-0.143062,0.216914,0.971127,0.476710,-0.947648,0.143063,-0.005510
4,2018-12-07,SH600000,-0.277437,-0.893073,-0.505862,0.311799,1.519069,-0.911054,-0.763684,-0.623823,...,0.263317,1.496304,1.206061,-0.101527,-0.851252,-0.263317,-1.496305,-1.206061,0.101529,-0.010157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131187,2020-09-17,SZ300628,3.000000,2.433555,1.234375,-0.739199,-0.976234,0.850301,-0.313505,3.000000,...,1.423090,0.959505,-0.000405,0.120519,0.877370,-1.423090,-0.959506,0.000405,-0.120516,-0.004315
131188,2020-09-18,SZ300628,2.137843,2.000082,0.928685,1.651422,0.171665,-0.024308,-0.612641,1.271648,...,-0.676563,-0.140455,-0.259489,0.001047,1.729466,0.676562,0.140455,0.259489,-0.001046,0.008833
131189,2020-09-21,SZ300628,-0.402014,-0.126209,-0.396758,-0.100632,-0.120557,1.357640,1.369630,0.043467,...,1.637854,0.470455,0.126913,0.510860,-0.222366,-1.637854,-0.470455,-0.126913,-0.510858,0.002809
131190,2020-09-22,SZ300628,0.967927,-0.058897,0.918297,-0.008385,-0.062197,-0.299018,-0.324536,0.731348,...,1.126915,0.056230,0.335378,0.495849,-0.000869,-1.126915,-0.056230,-0.335379,-0.495847,-0.033773
131191,2020-09-23,SZ300628,0.100179,-0.414878,0.119505,1.416059,2.059008,-0.312200,-0.146098,-0.493782,...,0.827862,0.265149,0.391522,0.786306,-0.013409,-0.827862,-0.265148,-0.391521,-0.786302,0.007843

In [100]:
list(df_test_sorted.columns)

['datetime',
 'instrument',
 'KMID',
 'KLEN',
 'KMID2',
 'KUP',
 'KUP2',
 'KLOW',
 'KLOW2',
 'KSFT',
 'KSFT2',
 'OPEN0',
 'HIGH0',
 'LOW0',
 'VWAP0',
 'ROC5',
 'ROC10',
 'ROC20',
 'ROC30',
 'ROC60',
 'MA5',
 'MA10',
 'MA20',
 'MA30',
 'MA60',
 'STD5',
 'STD10',
 'STD20',
 'STD30',
 'STD60',
 'BETA5',
 'BETA10',
 'BETA20',
 'BETA30',
 'BETA60',
 'RSQR5',
 'RSQR10',
 'RSQR20',
 'RSQR30',
 'RSQR60',
 'RESI5',
 'RESI10',
 'RESI20',
 'RESI30',
 'RESI60',
 'MAX5',
 'MAX10',
 'MAX20',
 'MAX30',
 'MAX60',
 'MIN5',
 'MIN10',
 'MIN20',
 'MIN30',
 'MIN60',
 'QTLU5',
 'QTLU10',
 'QTLU20',
 'QTLU30',
 'QTLU60',
 'QTLD5',
 'QTLD10',
 'QTLD20',
 'QTLD30',
 'QTLD60',
 'RANK5',
 'RANK10',
 'RANK20',
 'RANK30',
 'RANK60',
 'RSV5',
 'RSV10',
 'RSV20',
 'RSV30',
 'RSV60',
 'IMAX5',
 'IMAX10',
 'IMAX20',
 'IMAX30',
 'IMAX60',
 'IMIN5',
 'IMIN10',
 'IMIN20',
 'IMIN30',
 'IMIN60',
 'IMXD5',
 'IMXD10',
 'IMXD20',
 'IMXD30',
 'IMXD60',
 'CORR5',
 'CORR10',
 'CORR20',
 'CORR30',
 'CORR60',
 'CORD5',
 'CORD10',
 'CORD20',
 'CORD30',
 'CORD60',
 'CNTP5',
 'CNTP10',
 'CNTP20',
 'CNTP30',
 'CNTP60',
 'CNTN5',
 'CNTN10',
 'CNTN20',
 'CNTN30',
 'CNTN60',
 'CNTD5',
 'CNTD10',
 'CNTD20',
 'CNTD30',
 'CNTD60',
 'SUMP5',
 'SUMP10',
 'SUMP20',
 'SUMP30',
 'SUMP60',
 'SUMN5',
 'SUMN10',
 'SUMN20',
 'SUMN30',
 'SUMN60',
 'SUMD5',
 'SUMD10',
 'SUMD20',
 'SUMD30',
 'SUMD60',
 'VMA5',
 'VMA10',
 'VMA20',
 'VMA30',
 'VMA60',
 'VSTD5',
 'VSTD10',
 'VSTD20',
 'VSTD30',
 'VSTD60',
 'WVMA5',
 'WVMA10',
 'WVMA20',
 'WVMA30',
 'WVMA60',
 'VSUMP5',
 'VSUMP10',
 'VSUMP20',
 'VSUMP30',
 'VSUMP60',
 'VSUMN5',
 'VSUMN10',
 'VSUMN20',
 'VSUMN30',
 'VSUMN60',
 'VSUMD5',
 'VSUMD10',
 'VSUMD20',
 'VSUMD30',
 'VSUMD60',
 'LABEL0']

In [101]:
df_test_sorted = df_test_sorted.set_index(['instrument', 'datetime'])
# df_test_sorted = df_test_sorted[0:1000]

y = df_test_sorted['LABEL0']
# X = df_test_sorted.drop('LABEL0', axis=1)
X = df_test_sorted[['ROC10', 'MA5', 'STD5','BETA5', 'QTLU5', 'VMA5']]

In [102]:
X

                          ROC10       MA5      STD5     BETA5     QTLU5  \
instrument datetime
SH600000   2018-12-03 -0.217160 -1.547674  0.240057  1.148933 -1.717728
           2018-12-04 -0.590082 -1.276285  0.467853  1.331518 -0.656021
           2018-12-05 -0.518971 -0.535950  0.244158  1.074958 -0.232967
           2018-12-06 -0.401992  0.169566 -0.255033  0.365330  0.304599
           2018-12-07 -0.600263  0.382074 -0.818259 -0.402318  0.358895
...                         ...       ...       ...       ...       ...
SZ300628   2020-09-17  1.023455 -1.252879  0.427661  0.307542 -0.752021
           2020-09-18  0.546439 -1.784253  1.101457  0.951653 -1.450014
           2020-09-21  0.410679 -1.317689  1.441008  1.767611 -0.352293
           2020-09-22 -0.302344 -1.180131  1.435412  1.776487 -0.611409
           2020-09-23 -0.847759 -0.537574 -0.416155  0.683121 -0.533826

                           VMA5
instrument datetime
SH600000   2018-12-03 -1.399344
           2018-12-04  0.551599
           2018-12-05  0.046560
           2018-12-06  0.368072
           2018-12-07  3.000000
...                         ...
SZ300628   2020-09-17 -0.937981
           2020-09-18 -1.131354
           2020-09-21  0.524726
           2020-09-22  0.657049
           2020-09-23  1.221762

[131192 rows x 6 columns]

In [103]:
from ipca import InstrumentedPCA

regr = InstrumentedPCA(n_factors = 1, intercept = False)

regr = regr.fit(X = X, y = y)
Gamma, Factors = regr.get_factors(label_ind = True)

The panel dimensions are:
n_samples: 376 , L: 6 , T: 439

[========================================================================] 100%

LinAlgError: Matrix is singular to machine precision.

In [24]:
data = grunfeld.load_pandas().data

In [25]:
data.columns

Index(['invest', 'value', 'capital', 'firm', 'year'], dtype='object')

In [26]:
data[0:50]

    invest   value  capital              firm    year
0    317.6  3078.5      2.8    General Motors  1935.0
1    391.8  4661.7     52.6    General Motors  1936.0
2    410.6  5387.1    156.9    General Motors  1937.0
3    257.7  2792.2    209.2    General Motors  1938.0
4    330.8  4313.2    203.4    General Motors  1939.0
5    461.2  4643.9    207.2    General Motors  1940.0
6    512.0  4551.2    255.2    General Motors  1941.0
7    448.0  3244.1    303.7    General Motors  1942.0
8    499.6  4053.7    264.1    General Motors  1943.0
9    547.5  4379.3    201.6    General Motors  1944.0
10   561.2  4840.9    265.0    General Motors  1945.0
11   688.1  4900.9    402.2    General Motors  1946.0
12   568.9  3526.5    761.5    General Motors  1947.0
13   529.2  3254.7    922.4    General Motors  1948.0
14   555.1  3700.2   1020.1    General Motors  1949.0
15   642.9  3755.6   1099.0    General Motors  1950.0
16   755.9  4833.0   1207.7    General Motors  1951.0
17   891.2  4924.9   1430.5    General Motors  1952.0
18  1304.4  6241.7   1777.3    General Motors  1953.0
19  1486.7  5593.6   2226.3    General Motors  1954.0
20   209.9  1362.4     53.8          US Steel  1935.0
21   355.3  1807.1     50.5          US Steel  1936.0
22   469.9  2676.3    118.1          US Steel  1937.0
23   262.3  1801.9    260.2          US Steel  1938.0
24   230.4  1957.3    312.7          US Steel  1939.0
25   361.6  2202.9    254.2          US Steel  1940.0
26   472.8  2380.5    261.4          US Steel  1941.0
27   445.6  2168.6    298.7          US Steel  1942.0
28   361.6  1985.1    301.8          US Steel  1943.0
29   288.2  1813.9    279.1          US Steel  1944.0
30   258.7  1850.2    213.8          US Steel  1945.0
31   420.3  2067.7    132.6          US Steel  1946.0
32   420.5  1796.7    264.8          US Steel  1947.0
33   494.5  1625.8    306.9          US Steel  1948.0
34   405.1  1667.0    351.1          US Steel  1949.0
35   418.8  1677.4    357.8          US Steel  1950.0
36   588.2  2289.5    342.1          US Steel  1951.0
37   645.5  2159.4    444.2          US Steel  1952.0
38   641.0  2031.3    623.6          US Steel  1953.0
39   459.3  2115.5    669.7          US Steel  1954.0
40    33.1  1170.6     97.8  General Electric  1935.0
41    45.0  2015.8    104.4  General Electric  1936.0
42    77.2  2803.3    118.0  General Electric  1937.0
43    44.6  2039.7    156.2  General Electric  1938.0
44    48.1  2256.2    172.6  General Electric  1939.0
45    74.4  2132.2    186.6  General Electric  1940.0
46   113.0  1834.1    220.9  General Electric  1941.0
47    91.9  1588.0    287.8  General Electric  1942.0
48    61.3  1749.4    319.9  General Electric  1943.0
49    56.8  1687.2    321.3  General Electric  1944.0

In [27]:
data.year = data.year.astype(np.int64)

In [28]:
data

      invest     value  capital            firm  year
0    317.600  3078.500    2.800  General Motors  1935
1    391.800  4661.700   52.600  General Motors  1936
2    410.600  5387.100  156.900  General Motors  1937
3    257.700  2792.200  209.200  General Motors  1938
4    330.800  4313.200  203.400  General Motors  1939
..       ...       ...      ...             ...   ...
215    4.770    36.494   75.847  American Steel  1950
216    6.532    46.082   77.367  American Steel  1951
217    7.329    57.616   78.631  American Steel  1952
218    9.020    57.441   80.215  American Steel  1953
219    6.281    47.165   83.788  American Steel  1954

[220 rows x 5 columns]

In [29]:
N = len(np.unique(data.firm))
ID = dict(zip(np.unique(data.firm).tolist(),np.arange(1,N+1)))
data.firm = data.firm.apply(lambda x: ID[x])

In [30]:
data

      invest     value  capital  firm  year
0    317.600  3078.500    2.800     6  1935
1    391.800  4661.700   52.600     6  1936
2    410.600  5387.100  156.900     6  1937
3    257.700  2792.200  209.200     6  1938
4    330.800  4313.200  203.400     6  1939
..       ...       ...      ...   ...   ...
215    4.770    36.494   75.847     1  1950
216    6.532    46.082   77.367     1  1951
217    7.329    57.616   78.631     1  1952
218    9.020    57.441   80.215     1  1953
219    6.281    47.165   83.788     1  1954

[220 rows x 5 columns]

In [32]:
data = data.set_index(['firm', 'year'])
y = data['invest']
X = data.drop('invest', axis=1)

In [33]:
X

              value  capital
firm year
6    1935  3078.500    2.800
     1936  4661.700   52.600
     1937  5387.100  156.900
     1938  2792.200  209.200
     1939  4313.200  203.400
...             ...      ...
1    1950    36.494   75.847
     1951    46.082   77.367
     1952    57.616   78.631
     1953    57.441   80.215
     1954    47.165   83.788

[220 rows x 2 columns]

In [34]:
y

firm  year
6     1935    317.600
      1936    391.800
      1937    410.600
      1938    257.700
      1939    330.800
               ...
1     1950      4.770
      1951      6.532
      1952      7.329
      1953      9.020
      1954      6.281
Name: invest, Length: 220, dtype: float64

In [9]:
len(data)

220

In [10]:
data[0:50]

           invest   value  capital
firm year
6    1935   317.6  3078.5      2.8
     1936   391.8  4661.7     52.6
     1937   410.6  5387.1    156.9
     1938   257.7  2792.2    209.2
     1939   330.8  4313.2    203.4
     1940   461.2  4643.9    207.2
     1941   512.0  4551.2    255.2
     1942   448.0  3244.1    303.7
     1943   499.6  4053.7    264.1
     1944   547.5  4379.3    201.6
     1945   561.2  4840.9    265.0
     1946   688.1  4900.9    402.2
     1947   568.9  3526.5    761.5
     1948   529.2  3254.7    922.4
     1949   555.1  3700.2   1020.1
     1950   642.9  3755.6   1099.0
     1951   755.9  4833.0   1207.7
     1952   891.2  4924.9   1430.5
     1953  1304.4  6241.7   1777.3
     1954  1486.7  5593.6   2226.3
9    1935   209.9  1362.4     53.8
     1936   355.3  1807.1     50.5
     1937   469.9  2676.3    118.1
     1938   262.3  1801.9    260.2
     1939   230.4  1957.3    312.7
     1940   361.6  2202.9    254.2
     1941   472.8  2380.5    261.4
     1942   445.6  2168.6    298.7
     1943   361.6  1985.1    301.8
     1944   288.2  1813.9    279.1
     1945   258.7  1850.2    213.8
     1946   420.3  2067.7    132.6
     1947   420.5  1796.7    264.8
     1948   494.5  1625.8    306.9
     1949   405.1  1667.0    351.1
     1950   418.8  1677.4    357.8
     1951   588.2  2289.5    342.1
     1952   645.5  2159.4    444.2
     1953   641.0  2031.3    623.6
     1954   459.3  2115.5    669.7
5    1935    33.1  1170.6     97.8
     1936    45.0  2015.8    104.4
     1937    77.2  2803.3    118.0
     1938    44.6  2039.7    156.2
     1939    48.1  2256.2    172.6
     1940    74.4  2132.2    186.6
     1941   113.0  1834.1    220.9
     1942    91.9  1588.0    287.8
     1943    61.3  1749.4    319.9
     1944    56.8  1687.2    321.3

In [11]:
from ipca import InstrumentedPCA
regr = InstrumentedPCA(n_factors=2, intercept=False)
regr = regr.fit(X=X, y=y)
Gamma, Factors = regr.get_factors(label_ind=True)

The panel dimensions are:
n_samples: 11 , L: 2 , T: 20

Step 1 - Aggregate Update: 991040.0906069485
Step 2 - Aggregate Update: 3.635980405647388e-15
-- Convergence Reached --

In [12]:
Factors

,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954
0,0.099481,0.092480,0.122307,0.111755,0.090676,0.114539,0.138971,0.140875,0.122097,0.119260,0.109415,0.130754,0.155964,0.16652,0.149420,0.160794,0.158799,0.178112,0.191151,0.190814
1,-0.025283,0.009612,0.171003,0.172008,0.098856,0.073985,0.084751,-0.020017,0.007812,-0.000969,-0.004295,-0.043143,-0.051936,-0.07076,-0.065911,-0.084573,-0.112002,-0.102982,-0.031752,0.135699

In [13]:
Gamma

                0         1
value    0.969028 -0.246953
capital  0.246953  0.969028

In [34]:
# import pytest
# import numpy as np
# from statsmodels.datasets import grunfeld
# import time
# from datetime import datetime

# from ipca import InstrumentedPCA


# # Test Construction Errors
# def test_construction_errors():
#   with pytest.raises(ValueError):
#     InstrumentedPCA(n_factors=0)
#   with pytest.raises(NotImplementedError):
#     InstrumentedPCA(intercept='jabberwocky')
#   with pytest.raises(ValueError):
#     InstrumentedPCA(iter_tol=2)


# # Create test data and run package
# data = grunfeld.load_pandas().data
# data.year = data.year.astype(np.int64)
# #data.firm = data.firm.apply(lambda x: x.decode('utf-8'))
# # Establish unique IDs to conform with package
# N = len(np.unique(data.firm))
# ID = dict(zip(np.unique(data.firm).tolist(), np.arange(1, N+1)+5))
# data.firm = data.firm.apply(lambda x: ID[x])
# # Ensure that ordering of the data is correct
# data = data[['firm', 'year', 'invest', 'value', 'capital']]
# # prep PSF test vars test vars
# PSF1 = np.random.randn(len(np.unique(data.loc[:, 'year'])), 1)
# PSF1 = PSF1.reshape((1, -1))
# PSF2 = np.random.randn(len(np.unique(data.loc[:, 'year'])), 2)
# PSF2 = PSF2.reshape((2, -1))
# data = data.set_index(['firm', 'year'])
# data_y = data['invest']
# data_x = data.drop('invest', axis=1)

# t0 = datetime.now()

# # Test InstrumentedPCA
# regr = InstrumentedPCA(n_factors=1, intercept=False)
# regr = regr.fit(X=data_x, y=data_y)
# print("R2total", regr.score(X=data_x, y=data_y))
# print("R2pred", regr.score(X=data_x, y=data_y, mean_factor=True))
# print("R2total_x", regr.score(X=data_x, y=data_y, data_type="portfolio"))
# print("R2pred_x", regr.score(X=data_x, y=data_y, mean_factor=True,
#                              data_type="portfolio"))
# print(regr.Gamma)
# print(regr.Factors)

# # test indices
# regr = InstrumentedPCA(n_factors=1, intercept=False)
# regr = regr.fit(X=data_x.values, y=data_y.values, indices=data_x.index)
# print("R2total", regr.score(X=data_x.values, y=data_y.values,
#                             indices=data_x.index))
# print("R2pred", regr.score(X=data_x.values, y=data_y.values,
#                            indices=data_x.index, mean_factor=True))
# print("R2total_x", regr.score(X=data_x.values, y=data_y.values,
#                               indices=data_x.index,
#                               data_type="portfolio"))
# print("R2pred_x", regr.score(X=data_x.values, y=data_y.values,
#                              indices=data_x.index,
#                              mean_factor=True, data_type="portfolio"))
# print(regr.Gamma)
# print(regr.Factors)
# Gamma_df, Factors_df = regr.get_factors(label_ind=True)
# print(Gamma_df)
# print(Factors_df)

# # Test InstrumentedPCA with intercept
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# regr = regr.fit(X=data_x, y=data_y)
# print("R2total", regr.score(X=data_x, y=data_y))
# print("R2pred", regr.score(X=data_x, y=data_y, mean_factor=True))
# print("R2total_x", regr.score(X=data_x, y=data_y, data_type="portfolio"))
# print("R2pred_x", regr.score(X=data_x, y=data_y, mean_factor=True,
#                              data_type="portfolio"))

# # Use the fitted regressor to predict
# Ypred = regr.predict(X=data_x)

# # Test refitting the InstrumentedPCA with previous data but different n_factors
# regr.n_factors = 2
# regr.intercept = False
# regr = regr.fit(X=data_x, y=data_y)

# # Test different data-type fits
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# regr = regr.fit(X=data_x, y=data_y, data_type="panel")
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# regr = regr.fit(X=data_x, y=data_y, data_type="portfolio")

# # Test PSF - one additional factor estimated
# regr = InstrumentedPCA(n_factors=2, intercept=False)
# regr = regr.fit(X=data_x, y=data_y, PSF=PSF1)

# # Test PSF - no additional factors estimated
# regr = InstrumentedPCA(n_factors=2, intercept=False)
# regr = regr.fit(X=data_x, y=data_y, PSF=PSF2)

# # Test nan observations
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# data_nan = data_x.copy()
# data_nan.iloc[10:30, :] = np.nan
# regr = regr.fit(X=data_nan, y=data_y)

# # Test missing observations
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# data_missing = data_x.copy()
# data_missing = data_missing.iloc[:-10, :]
# regr = regr.fit(X=data_x, y=data_y)

# # Simulate OOS experiment
# y_IS = data_y[data_x.index.get_level_values("year") != 1954]
# y_OOS = data_y[data_x.index.get_level_values("year") == 1954]
# data_IS = data_x[data_x.index.get_level_values("year") != 1954]
# data_OOS = data_x[data_x.index.get_level_values("year") == 1954]
# # Re-fit the regressor
# regr = regr.fit(X=data_IS, y=y_IS)
# Ypred = regr.predictOOS(X=data_OOS, y=y_OOS, mean_factor=True)

# # Test Walpha Bootstrap
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# regr = regr.fit(X=data_x, y=data_y)
# pval = regr.BS_Walpha(ndraws=10, n_jobs=-1)
# print('p-value', pval)

# # Test Wbeta Bootstrap
# regr = InstrumentedPCA(n_factors=1, intercept=False)
# regr = regr.fit(X=data_x, y=data_y)
# pval = regr.BS_Wbeta([0, 1], ndraws=10, n_jobs=-1)
# print('p-value', pval)

# # Test with regularization
# regr = InstrumentedPCA(n_factors=2, alpha=0.5, intercept=False)
# regr = regr.fit(X=data_x, y=data_y)
# regr = InstrumentedPCA(n_factors=2, alpha=0.5, l1_ratio=0.5, intercept=False)
# regr = regr.fit(X=data_x, y=data_y)
# regr = InstrumentedPCA(n_factors=2, alpha=0.5, intercept=False)
# regr = regr.fit(X=data_x, y=data_y, PSF=PSF1)
# regr = InstrumentedPCA(n_factors=1, intercept=True)
# regr = regr.fit(X=data_x, y=data_y)

# # Test regularization path
# regr = InstrumentedPCA(n_factors=2)
# cvmse = regr.fit_path(X=data_x, y=data_y)
# cvmse = regr.fit_path(X=data_x, y=data_y, alpha_l=np.array([0., 0.5, 1.]))
# cvmse = regr.fit_path(X=data_x, y=data_y, PSF=PSF2)
# cvmse = regr.fit_path(X=data_x, y=data_y, PSF=PSF2,
#                       alpha_l=np.array([0., 0.5, 1.]))
# print(datetime.now() - t0)